.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  z-index: 2;
}

.modal__container {
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__container-preview {
  padding: 0;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__image {
  width: 100%;
  object-fit: cover;
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  margin: 0, auto;
  border-radius: 8px;
}

.modal__caption {
  padding: 4px 8px;
  margin: 0;
  border-radius: 8px;
  border-style: none;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: auto;
  height: 32px;
  position: absolute;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.modal__close-button {
  position: absolute;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  color: #212121;
  opacity: 0.4;
  cursor: pointer;
  border-width: 0;
  background-color: transparent;
}

.modal__close-button_type_preview {
  background-image: url(../images/imgcloseicon.svg);
  top: 30px;
  right: 0px;
  opacity: 1;
}

.modal__close-button:hover {
  color: #212121;
  opacity: 1;
}

.modal__close-button_type_preview:hover {
  color: #212121;
  opacity: 0.4;
}

.modal__title {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 32px;
}

.modal__form {
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.1;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  border-color: rgba(33, 33, 33, 0.4);
  border-width: 1px;
  border-radius: 8px;
  padding: 16px 12px;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.3);
}

.modal__error {
  /*display: block;
  margin-top: 8px;*/
  color: rgba(255, 0, 0, 0.7);
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 500;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__container-preview {
    padding: 0;
    max-width: 288px;
  }

  .modal__image {
    max-width: 288px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__close-button_type_preview {
    top: -40px;
    left: 255px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 1;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-button {
    width: 100%;
  }
}
