.profile {
  display: flex;
  flex-direction: row;
}

.profile__avatar {
}

.profile__column {
  gap: 12px;
}

.profile__name {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.profile__title {
  margin: 0;
}

.profile_edit__button {
}

.profile_new_post__button {
  margin-left: auto;
  padding: 0;
}
