.profile {
  display: flex;
  flex-direction: row;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin: 0 20px 0 0;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
}

.profile__title {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
}

.profile_edit__button {
  margin-top: auto;
  color: #212121;
  background-color: transparent;
  border: none;
  padding: 0;
}

.profile_new_post__button {
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  padding-bottom: 20px;
  background-color: #212121;
  color: #fcf5e5;
}
