.profile {
  display: flex;
  flex-direction: row;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  visibility: hidden;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 8px;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__avatar {
  /* margin: 0 20px 0 0; */
  border-radius: 8px;
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__title {
  margin: 0;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  margin-top: auto;
  margin-right: auto;
  color: #212121;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  padding: 0;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__new-post-button {
  margin-left: auto;
  margin-top: auto;
  padding: 0;
  border-radius: 8px;
  border-style: none;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  width: 149px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.profile__new-post-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-btn {
    visibility: visible;
    background-color: transparent;
    justify-content: right;
    width: 80px;
    height: 80px;
  }

  .profile__avatar-btn::after {
    content: none;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
    justify-content: center;
  }

  .profile__avatar-container {
    margin: 0;
  }

  .profile__pencil-icon {
    background-color: (33, 33, 33, 0.6);
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
    line-height: 1;
    max-width: 288px;
  }

  .profile__title {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-button {
    margin: 0;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__new-post-button {
    margin: 0;
    width: 288px;
  }
}
